
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.container {
  min-width: 100dvw;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 48px 0px
}

.left, .right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px 0px;
}

textarea {
  width: 280px;
  padding: 8px;
  resize: none;
  -webkit-user-select: text;
  user-select: text;
  pointer-events: auto;
  font-family: monospace;
}

/* desktop */
@media (min-width: 1280px) {
  body {
    overflow-x: hidden;
  }
  
  .layout {
    flex-direction: row;
    align-items: stretch;
    padding: 24px 0px;
  }

  .left {
    flex: 1;
  }

  .right {
    flex: 1;
  }

  textarea {
    width: 400px;
  }
}


input {
  padding: 4px 8px;
  width: 248px;
}

button {
  padding: 8px 16px;
  cursor: pointer;
}